<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.sf.savedirtyeditors.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.resourceFilters">
      <filter
            pattern="*.snapshot"
            selected="true"/>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            class="net.sf.savedirtyeditors.filters.SnapshotResourceFilters"
            description="%filter.description.0"
            enabled="true"
            id="net.sf.savedirtyeditors.PackageExplorer.SnapshotFilters"
            name="%filter.name.0"
            targetId="org.eclipse.jdt.ui.PackageExplorer"/>
      <filter
            class="net.sf.savedirtyeditors.filters.SnapshotResourceFilters"
            description="%filter.description.0"
            enabled="true"
            id="net.sf.savedirtyeditors.PackagesView.SnapshotFilters"
            name="%filter.name.0"
            targetId="org.eclipse.jdt.ui.PackagesView"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.GeneralTextEditor"
            class="net.sf.savedirtyeditors.preferences.PluginPreferencePage"
            id="net.sf.savedirtyeditors.PluginPreferencePage"
            name="%prefPage.name.0"/>
   </extension>

</plugin>
